# /etc/systemd/system/tomcat.service

[Unit]
Description=Tomcat 8.5 servlet container
After=network.target

[Service]
Type=forking

User=tomcat
Group=tomcat
UMask=0007
RestartSec=10
Restart=always

Environment="JAVA_HOME=/usr/lib/jvm/java-1.11.0-openjdk-amd64"
Environment="JAVA_OPTS=-JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom"

Environment="CATALINA_BASE=/usr/tomcat/apache-tomcat-8.5.73"
Environment="CATALINA_HOME=/usr/tomcat/apache-tomcat-8.5.73"
Environment="CATALINA_PID=/usr/tomcat/latest/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"

ExecStart=/usr/tomcat/apache-tomcat-8.5.73/bin/startup.sh
ExecStop=/usr/tomcat/apache-tomcat-8.5.73/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
